<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "/static/base.css">
    <title>Document</title>
</head>
<body>
    {%include "navbar.html" %}
    <div class="colom">
    {%for x in listi%}
        {%if x['company'] not in s%}
            <div>
                <a href="/gas/{{x['company']}}"><img src="{{dictM[x['company']]}}" alt="{{x['company']}}" class="img"></a>
            </div>
            {{s.append(x['company'])|default("", True)}}
        {%endif%}
    {%endfor%}
    </div>
    <div class="box">
        <p>
            <h4>ódýrasta 95 okatan:</h4> {{oktan}}
            <h4>ódýrasta diesel olía: </h4>{{diesel}}
        </p>
    </div>
</body>
</html>